div {
    min-width: fit-content;
    width: 100%;
    height: auto;
}

.InputFiled>p {
    color: #003366;
}

input {
    color: black;
    background-color: #F3F3F5;
    outline: 2px solid #E2E8F0;
    border-width: 0px;
    border-radius: 10px;
    min-width: 1vw;
    min-height: 1vh;
    width: 100%;
    padding: 10px;
}